<tr>
  <td>
    <%= route.application.name %>
  </td>

  <td>
    <%= link_to route.name, route %>
  </td>

  <td>
    <%= route.pattern %>
  </td>

  <td>
    <%= route_status_tag route.enabled %>
  </td>
</tr>
