<tr>
  <td>
    <%= link_to route.name, [ application, route ] %>
  </td>

  <td>
    <%= route.app_path.present? ? route.app_path : "None" %>
  </td>

  <td>
    <%= route.pattern %>
  </td>

  <td>
    <%= route_status_tag route.enabled %>
  </td>
</tr>
