<%= link_to "â† Back to routes", routes_path, class: "button is-small mb-4" %>

<h2 class="subtitle">Editing Route</h2>

<%= render "form", route: @route %>

<br>

<div>
  <%= link_to "Show this route", @route, class: "button" %>
</div>
