<table class="table queues is-striped is-hoverable is-fullwidth">
  <tbody>
  <thead>
  <tr>
    <th>Route name</th>
    <th>Method</th>
    <th>Pattern</th>
  </tr>
  </thead>

  <%= render partial: "route", collection: @routes %>

  </tbody>
</table>
