<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><%= link_to @application.name, application_routes_path(@application) %></li>
    <li class="is-active"><a>New Route</a></li>
  </ul>
</nav>

<%= render "form", route: @route %>
